:root{
    --headerBackgroundColor: #1abc9c;
    --white: #fff;
    --black: #000000;
}

*{
    margin: 0;
    padding: 0;
}

h1 {
    padding: 30px 0 ;
    text-align: center;
    background: var(--headerBackgroundColor);
    color: var(--white);
    font-size: 3em;
    box-shadow: 0 0 .2em var(--black);
}

body {
    background-color: #F7FFF0;
}

section{
    position: relative;
    left: 10%;
}


#background{
    position: relative;
    z-index: -5;
}
#triangle{
    position: absolute;
    width: 168px;
    top: 410px;
    left: 460px;
}

#tryAgain{
    position: absolute;
    color: var(--white);
}


/*#tryAgain{*/
/*    !*display: block;*!*/
/*    opacity: 0;*/
/*    transition: all 2s ease-in-out;*/

/*    position:absolute;*/
/*    color: white;*/
/*    !*font-size: 26px;*!*/
/*    transform: translate(52em, 25em);*/
/*    z-index: 3;*/
/*}*/

/*button{*/
/*    width: 12rem;*/
/*    height: 4rem;*/
/*    border-radius:2em;*/
/*    color:#FFFFFF;*/
/*    font-weight:300;*/
/*    background-color:#3369ff;*/
/*    text-transform:uppercase;*/
/*    text-align: center;*/
/*}*/
/*.questionButton{*/
/*    padding-top: 30px;*/
/*    text-align: center;*/
/*}*/

/*button:hover{*/
/*    text-shadow: 0 0 .5em rgba(255,255,255,.5);*/
/*    color:#FFFFFF;*/
/*    border-color:#FFFFFF;*/
/*}*/
