*{
    margin: 0;
    padding: 0;
}
html{
    padding: 25px;
}
header {
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    box-shadow: 0 0 .2em #000000;
}

Body {
    background-color: #F7FFF0;
}

div{
    position:relative;
    display: block;
    text-align: center;

}
#triangle{
    position: absolute;
    transform: translate(-519px, 21.5em);
    width: 8.5rem;
    margin: auto;
    z-index: 2;
}
#background{
    position: relative;
    /*object-fit: cover;*/
    max-width: 50vw;
    /*display: block;*/
    margin: 0 auto;
}

#tryAgain{
    /*display: block;*/
    position:absolute;
    color: white;
    /*font-size: 26px;*/
    transform: translate(52em, 25em);
    z-index: 3;
}

button{
    width: 12rem;
    height: 4rem;
    border-radius:2em;
    color:#FFFFFF;
    font-weight:300;
    background-color:#3369ff;
    text-transform:uppercase;
    text-align: center;
}
.questionButton{
    padding-top: 30px;
    text-align: center;
}

button:hover{
    text-shadow: 0 0 .5em rgba(255,255,255,.5);
    color:#FFFFFF;
    border-color:#FFFFFF;
}
